<!-- 
Required Functionality:
-User sees a list of events upon entering the site.
-User can click on an event to see more detail.
-User can mark event for list of favorites.
-User can view their list of favorite events.
-User can remove an event from their list of favorites.
-User can add an event.

Events should go into one database table, favorites into another.
User favorites should be stored in the database with some kind of UserID
but login is not required.
-->
<nav>
    <a routerLink="/Home">Home</a>
    <a routerLink="/Favorites">Favorites</a>
    <a routerLink="Plan">Plan Event</a>


</nav>

<router-outlet></router-outlet>

<footer>
    <p>Our githubs</p>

    <label for="Rheyya">Rheyya:</label>
    <a href="https://github.com/Rheyya"> <img src="images/github-mark.png" alt="github logo. link to github"  name="Rheyya"></a>
    
    <label for="Olga">Olga:</label>
    <a href="https://github.com/Olga039"><img src="https://picsum.photos/200/300" alt="github logo. link to github"  name="Olga"></a>    
    
    <label for="Chelsea">Chelsea</label>
    <a href="https://github.com/Ubhumma"><img src="images/github-mark.png" alt="github logo. link to github"  name="Chelsea"></a>
    
</footer>



