nav{
    font-size: 2.5em;
    background-color: #e0e0e0;
    border-style: solid;
    

}
nav > form{
    
    border-style:solid;
    font-size:0.5em;
    display:inline-block;
    text-align: right;
    
}
nav > a {
    line-height: 0.001em;
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
}
nav > button {
    text-align:right;
    font-size:0.75em;
}

footer{
    margin-top:2%;
    
    background-color: #e0e0e0;
    border-style: solid;
}
footer > p{
    font-size: 0.9em;
    text-align: center;
}
footer > img, footer >label{
    font-size: 1em;
    line-height: 0.001em;
    display: inline-block;
    text-decoration: none;
    padding: 1%;
    margin: 1%;
    
}