<<<<<<< HEAD
h1{
    text-align: center;
}


.events{
    display:inline-block;
    border-style: solid;
    background-color:#EFEFEF;
    text-align:center;
    margin: 1em;
}
.content{
    border-style:groove;
   border-radius: 2px;
   background-color: #e0e0e0;
=======
.hidden{
    display:none;
    overflow: hidden;
>>>>>>> a6f87de85b98a9ec6bb05de4958bcb4285966392
}